{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bookshelf - книги на будь-який смак{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--Less styles -->
   <!-- Other Less css file //different less files has different color scheam
	<link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
	<link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
	<link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
	-->
	<!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
	<script src="themes/js/less.js" type="text/javascript"></script> -->
	
<!-- Bootstrap style --> 
    <link id="callCss" rel="stylesheet" href='{% static "themes/spruce/bootstrap.min.css" %}' media="screen"/>
    <link href='{% static "themes/css/base.css" %}' rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive -->	
	<link href='{% static "themes/css/bootstrap-responsive.min.css" %}' rel="stylesheet"/>
	<link href='{% static "themes/css/font-awesome.css" %}' rel="stylesheet" type="text/css">
<!-- Google-code-prettify -->	
	<link href='{% static "themes/js/google-code-prettify/prettify.css" %}' rel="stylesheet"/>
<!-- fav and touch icons -->
    <link rel="shortcut icon" href='{% static "themes/images/ico/favicon.ico" %}'>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href='{% static "themes/images/ico/apple-touch-icon-144-precomposed.png" %}'>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href='{% static "themes/images/ico/apple-touch-icon-114-precomposed.png" %}'>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href={% static "themes/images/ico/apple-touch-icon-72-precomposed.png" %}>
    <link rel="apple-touch-icon-precomposed" href={% static "themes/images/ico/apple-touch-icon-57-precomposed.png" %}>
	<style type="text/css" id="enject"></style>
  </head>
<body>
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span12">
        <div class="pull-right" style="margin-right: 10px">
            <span class="text-muted">
                Ласкаво просимо на книжну полицю{% if request.user and request.user.is_authenticated %}, {{ request.user.username }}! <a href="{% url 'logout' %}" style="color: #363f4a">Вийти.</a>{% else %}!{% endif %}
            </span>
        </div>
    </div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="{% url 'home' %}">
        <h3 style="display: inline">The Bookshelf</h3>
    </a>
		<form class="form-inline navbar-search" method="post" action="products.html" >
            <input id="srchFld" class="srchTxt" type="text" placeholder="Пошук..." />
	        <select class="srchTxt">
		    	<option>Пошук за назвою</option>
			    <option>Пошук за автором</option>
		    </select>
		    <button type="submit" id="submitButton" class="btn btn-primary">Знайти</button>
    </form>
      {% if not request.user or not request.user.is_authenticated %}
    <div id="topMenu" class="pull-right navbar-search">
    <a href="{% url 'registration' %}" role="button" style="{padding-right:0;}"><span class="btn btn-link">Реєстрація</span></a>
	<a href="#login" role="button" data-toggle="modal" style="{padding-right:0;}"><span class="btn btn-success">Увійти</span></a>
	<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Авторизація</h3>
		  </div>
		  <div class="modal-body">
			<form class="form-horizontal loginFrm" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
				<input type="text" id="inputEmail" placeholder="Логін" name="username">
				<input type="password" id="inputPassword" placeholder="Пароль" name="password">
                <br/>
                <button type="submit" class="btn btn-success" name="login" id="login-button">Увійти</button>
			    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Скасувати</button>
			</form>
		  </div>
	</div>
    </div>
      {% endif %}
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->

<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a href="#">Книги за жанрами</a>
				<ul>
    				<li><a href="{% url 'genres_list' %}"><i class="icon-chevron-right"></i>Всі жанри ({{ genres_count }})</a></li>
				    {% for genre in genres_list %}
                        <li><a href="{% url 'genre' genre.pk %}"><i class="icon-chevron-right"></i>{{ genre.name }} ({{ genre.books_count }})</a></li>
                    {% endfor %}
				</ul>
			</li>
			<li class="subMenu"><a href="{% url 'authors_list' %}">Книги за авторами</a>
				<ul style="display:none">
                    <li><a href="#"><i class="icon-chevron-right"></i>Всі автори ({{ authors_count }})</a></li>
                    {% for author in authors_list %}
                        <li><a href="{% url 'author' author.pk %}"><i class="icon-chevron-right"></i>{{ author.name }} ({{ author.books_count }})</a></li>
                    {% endfor %}
    			</ul>
			</li>
			<li><a href="{% url 'popular_books' %}">Популярні книги</a></li>
            <li><a href="{% url 'recommended_books' %}">Рекомендації</a></li>
		</ul>
		<br/>
            <h6 style="text-align: center">ВИПАДКОВІ КНИГИ:</h6>
            {% for book in random_books %}
                <div class="thumbnail">
			        <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			        <div class="caption" style="text-align:center">
                        <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			            <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			        </div>
		        </div><br/>
            {% endfor %}
	</div>
<!-- Sidebar end=============================================== -->
		<div class="span9">
            {% block content %}
            {% endblock %}
		</div>
        </div>
    </div>
</div>

<!-- Footer ================================================================== -->
	<div  id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h6>ПРОФІЛЬ</h6>
				<a href="#">МІЙ ПРОФІЛЬ</a>
				<a href="#">ОСОБИСТИЙ КАБІНЕТ</a>
			 </div>
			<div class="span3">
				<h6>КОРИСНА ИНФОРМАЦІЯ</h6>
				<a href="contact.html">КОНТАКТИ</a>
				<a href="register.html">РЕЄСТРАЦІЯ</a>
				<a href="legal_notice.html">УМОВИ ВИКОРИСТАННЯ</a>
				<a href="faq.html">ДОПОМОГА</a>
			 </div>
			<div class="span3">
				<h6>ПОСИЛАННЯ</h6>
				<a href="#">НОВІ КНИГИ</a>
				<a href="#">ПОПУЛЯРНІ КНИГИ</a>
				<a href="#">РЕКОМЕНДОВАНІ</a>
			 </div>
			<div id="socialMedia" class="span3 pull-right">
				<h6>СОЦИАЛЬНІ МЕРЕЖІ</h6>
				<a href="#"><img width="60" height="60" src='{% static "themes/images/facebook.png" %}' title="facebook" alt="facebook"/></a>
				<a href="#"><img width="60" height="60" src='{% static "themes/images/twitter.png" %}' title="twitter" alt="twitter"/></a>
				<a href="#"><img width="60" height="60" src='{% static "themes/images/youtube.png" %}' title="youtube" alt="youtube"/></a>
			 </div> 
		 </div>
		<p class="pull-right">&copy; The Bookshelf</p>
	</div><!-- Container End -->
	</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src='{% static "themes/js/jquery.js" %}' type="text/javascript"></script>
	<script src='{% static "themes/js/bootstrap.min.js" %}' type="text/javascript"></script>
	<script src='{% static "themes/js/google-code-prettify/prettify.js" %}'></script>
	
	<script src='{% static "themes/js/bootshop.js" %}'></script>
    <script src='{% static "themes/js/jquery.lightbox-0.5.js" %}'></script>

</body>
</html>