{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Головна</a> <span class="divider">/</span></li>
    <li class="active">Опис книги</li>
    </ul>	
	<div class="row">	  
			<div id="gallery" class="span3" style="text-align: center">
    			<img src="{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}" style="width:100%" alt="{{ book.caption }}"/>
                <br class="clr"/>
                <br class="clr"/>
                <p><u>Середня оцінка</u></p>
                <span id="avg-mark"></span>&nbsp;<strong>{{ book_mark }}</strong>
            </div>
			  
			<div class="span6">
				<h3 style="color: #011528">{{ book.caption }}</h3>
				<h5>{{ book.author }}</h5>

				<hr class="soft clr"/>

				<p>{{ book.description }}</p>

                {% if request.user and request.user.is_authenticated %}
                    {% if users_mark %}
                        <p>
                            Ваша оцінка: <span id="own-mark"></span>&nbsp;<strong>{{ users_mark }}</strong>
                        </p>
                    {% else %}
                        <p>
                            Прочитали? Оцініть! <span id="own-mark-edit"></span>
                        </p>
                    {% endif %}
                {% endif %}

				<br class="clr"/>
			</div>

            <div class="span9">
                <hr class="soft clr"/>
                <h5>Схожі книги</h5>
                <div class="well well-small">
                    <ul class="thumbnails">
		            {% for book in related_books|slice:"0:3" %}
                        <li class="span2">
                            <div class="thumbnail">
			                    <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			                    <div class="caption" style="text-align:center">
                                    <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			                        <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			                    </div>
		                    </div>
                        </li>
                    {% endfor %}
		            </ul>
                <ul class="thumbnails">
		            {% for book in related_books|slice:"3:6" %}
                        <li class="span2">
                            <div class="thumbnail">
			                    <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			                    <div class="caption" style="text-align:center">
                                    <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			                        <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			                    </div>
		                    </div>
                        </li>
                    {% endfor %}
		            </ul>
                </div>
            </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'raty/js/jquery.raty.js' %}"></script>
    <script>
        $('#avg-mark').raty({
            size      : 24,
            starHalf  : '{% static "raty/img/star-half.png" %}',
            starOff   : '{% static "raty/img/star-off.png" %}',
            starOn    : '{% static "raty/img/star-on.png" %}',
            score     : {{ book_mark }},
            number    : 10,
            readOnly  : true
        });

        {% if request.user and request.user.is_authenticated %}
            {% if users_mark %}
                $('#own-mark').raty({
                    size      : 24,
                    starHalf  : '{% static "raty/img/star-half.png" %}',
                    starOff   : '{% static "raty/img/star-off.png" %}',
                    starOn    : '{% static "raty/img/star-on.png" %}',
                    score     : {{ users_mark }},
                    number    : 10,
                    readOnly  : true
                });
            {% else %}
                $('#own-mark-edit').raty({
                    size      : 24,
                    starHalf  : '{% static "raty/img/star-half.png" %}',
                    starOff   : '{% static "raty/img/star-off.png" %}',
                    starOn    : '{% static "raty/img/star-on.png" %}',
                    score     : 0,
                    number    : 10,
                    halfShow  : false,
                    click: function(score, evt) {
                            window.location = '{% url 'vote_book' %}?from={{ request.get_full_path }}&book_id={{ book.id }}&mark=' + score;
                        }
                });
            {% endif %}

        {% endif %}
    </script>
{% endblock %}