{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="well well-small" style="height: 400px">
			<a href="{% url 'popular_books' %}"><h4>Популярные книги</h4></a>
			<div class="row-fluid">
			<div id="featured" class="carousel slide">
			<div class="carousel-inner">
			    <div class="item active">
			        <ul class="thumbnails">
                    {% for book in popular_books|slice:":4" %}
                        <li class="span3">
                            <div class="thumbnail">
			                    <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			                    <div class="caption" style="text-align:center">
                                    <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			                        <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			                    </div>
		                    </div>
                        </li>
                    {% endfor %}
			        </ul>
			    </div>
			    <div class="item">
                    <ul class="thumbnails">
                    {% for book in popular_books|slice:"4:8" %}
                        <li class="span3">
                            <div class="thumbnail">
			                    <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			                    <div class="caption" style="text-align:center">
                                    <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			                        <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			                    </div>
		                    </div>
                        </li>
                    {% endfor %}
			        </ul>
    		    </div>
			    <div class="item">
			        <ul class="thumbnails">
                    {% for book in popular_books|slice:"8:12" %}
                        <li class="span3">
                            <div class="thumbnail">
			                    <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			                    <div class="caption" style="text-align:center">
                                    <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			                        <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			                    </div>
		                    </div>
                        </li>
                    {% endfor %}
			        </ul>
			    </div>
			  </div>
			  </div>
			  </div>
		</div>
		<a href="{% url 'readable_books' %}"><h4>Самые читаемые книги</h4></a>
        <ul class="thumbnails">
		{% for book in readable_books %}
            <li class="span3">
                <div class="thumbnail">
			        <a href="{% url 'book' book.pk %}"><img src='{{ settings.MEDIA_URL }}images/{% if book.image %}{{ book.image }}{% else %}default.jpg{% endif %}' alt="{{ book.caption }}" width="70%"/></a>
			        <div class="caption" style="text-align:center">
                        <a href="{% url 'author' book.author.pk %}" style="color: #000810; font-weight: bold;"><p>{{ book.author }}</p></a>
			            <a href="{% url 'book' book.pk %}"><h5>{{ book.caption }}</h5></a>
			        </div>
		        </div>
            </li>
        {% endfor %}
		</ul>
{% endblock %}