{% extends 'base.html' %}

{% block content %}
    <ul class="breadcrumb">
		<li><a href="{% url 'home' %}">Головна</a> <span class="divider">/</span></li>
		<li class="active">Реєстрація</li>
    </ul>
	<h3>Реєстрація</h3>
	<div class="well">

    {% if form.errors %}
	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{{ form.errors }}
	</div>
    {% endif %}

	<form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
		<h4>Реєстраційні дані</h4>

        <div class="control-group">
			<label class="control-label" for="input-username">Ім'я користувача <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="input-username" placeholder="Ім'я користувача" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
			</div>
		</div>


		<div class="control-group">
		    <label class="control-label" for="input-email">Email <sup>*</sup></label>
		    <div class="controls">
		        <input type="text" id="input-email" placeholder="Email" name="email" value="{% if for.email.value %}{{ form.email.value }}{% endif %}">
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="input-password">Пароль <sup>*</sup></label>
		    <div class="controls">
		        <input type="password" id="input-password" placeholder="Пароль" name="password">
		    </div>
	    </div>
		
	<p><sup>*</sup> Обов'язкове поле</p>
	
	<div class="control-group">
			<div class="controls">
				<input class="btn btn-large btn-success" type="submit" value="Зарєструватися" />
			</div>
		</div>		
	</form>
</div>
{% endblock %}